.box-header{
    font-family: 'Lobster', serif;
    font-size: 30px;
    margin-top: 20px;
    background-color: lightblue;
}

.card {
    margin: auto;
    width: 75%;
    margin-bottom: 20px;
}
#catLifestyle{
    background-color: rgba(145,69,155,0.26);
}
#catSport, #catEating, #catCharity{
    background-color: rgba(97,161,69,0.26);
}
#catFun, #catEducation{
    background-color: bisque;
}
#catHobbies, #catOffer{
    background-color: rgba(211,191,126,0.59);
}
#catOutdoor, #catTravel, #catMusic{
    background-color: rgba(121,211,169,0.59);
}

.eventbox-footer{
    background-color: rgba(149,170,196,0.41);
    font-size: 20px;
}
#1{
    background-color: #333333;
}
#2{
    background-color: whitesmoke;
}
.add-event-container{
    text-align: center;

}
.add-event-container #add-event-button{
    margin-bottom: 10px;
    background-color: #8fa0ad;
    border: #8fa0ad;
    font-size: 15px;
}
.card-body {
    font-size: 15px;
    font-family: 'Krub', serif;

}
.card-body #join-button {
    font-size: 15px;
}
.card-body #card-participants {
    font-size: 15px;
    margin-bottom: 15px;

}
.card-body #card-category{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;

}



