/*----------Main site _components---------*/

body {
    background-color: #ffffff;
    font-family: 'Lobster', serif;   color: #333333;
    font-size: 15px;
    overflow-x: hidden;
}
#page {
    justify-content: center;
    align-items: center;
    background-color: aliceblue;


}
.color-nav{
    background-color: rgba(149,170,196,0.41);
    font-size: 20px;
    font-family: 'Krub', serif;
}
.mr-auto{
    margin-left: 35vw;

}
@media only screen and (min-width: 845px) {
    #home{
        display: none
    }
}



/*>>>---------------HEADER & NAVBAR--------START----<<<*/
/*.mr-auto a {
    float:left;
    font-size: 15px;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Krub', serif;
}*/

/*-------Individual site _components---------*/


/*>>>---------------HEADER & NAVBAR---------END---<<<*/
